*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(7200deg);
    }
}
body{
    height: 100vh;
    background-color: black;
}
span{
    background: url("https://cdn4.iconfinder.com/data/icons/essentials-72/24/028_-_Heart-256.png");
    width: 100px;
    height: 100px;
    position: absolute;
    /* background-repeat: no-repeat; */
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate 6s linear;
}